.footer {
    padding: 20px;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 100%;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}